/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-header-image: url(../images/cover-image-dark.png);
  --baner-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --background-page-color: #000028;
  --text-font-size: 18px;
  --text-font-height: 23px;
  --text-font-color: #FF0070;
  --accent-color: #FF0070;
  --dedicated-background-color: #FF0070;
  --dedicated-text-color: #000028;
  --main-text-color: #F1B2CE;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
