/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-header-image);
  background-color: var(--background-page-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* фиксированная фоновая картинка */
}

.header {
  position: relative; /* Относительное позиционирование для дочерних абсолютно позиционированных элементов */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 60px;
  grid-auto-flow: dense; /* Автоматическое заполнение пустых ячеек */
  height: 100vh;
  padding: 20px;
}

.header__rec-label {
  display: var(--block-visible);
  align-items: center;
  position: absolute;

}

.header__rec-text {
  font-size: var(--text-font-size);
  color: var(--text-font-color);
  text-transform: uppercase;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  border-top: 1px solid var(--corner-decorate-color);
  border-right: 1px solid var(--corner-decorate-color);
  width: 25px;
  height: 25px;
  right: 20px;
  top: 20px;
}

.decorated-zone::after {
  position: absolute;
  content: '';
  border-bottom: 1px solid var(--corner-decorate-color);
  border-left: 1px solid var(--corner-decorate-color);
  width: 25px;
  height: 25px;
  left: 20px;
  bottom: 20px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  font-size: var(--text-font-size);
  color: var(--button-text-color);
  font-weight: var(--text-font-weight);
  border: none;
  background-color: inherit;
  padding: 1.5px 13px; 
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-outline-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-outline-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-outline-color);
}

.header__title {
  display: flex;
  align-items: start;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  font-size: var(--banner-font-size);
  font-weight: var(--text-font-weight);
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
}

.header__subtitle {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  height: fit-content;
  white-space: pre-line; 
}

.decor__subtitle {
  font-weight: var(--bold-font-weight);
  font-size: var(--text-font-size);
  line-height: var(--text-font-height);
  color: var(--dedicated-text-color);
  background-color: var(--dedicated-background-color);

}